.div1 {
   width: 100px;
   height: 100px;
   text-align: center;
   background-color: aquamarine;
   line-height: 100px;
}

.div1:hover {
   background-color: hotpink;
   height: 150px;
   cursor: pointer;
   line-height: 150px;
}

.div1:active {
   background-color: brown;
   width: 150px;
   line-height: 150px;
}

input:focus {
   background-color: blueviolet;
   color: white;
   outline-color: aqua;
}

a {
   font-size: 20px;
   font-weight: bold;
   color: green;
}

a:hover {
   background-color: red;
}

a:visited {
   /* color: #ccc; */
}