/* 일치 선택자 -> p 이면서 .lion */
p.lion {
   background-color: red;
}

/* ul의 자식(사파리 안) 인 .lion -> 자식 선택자 > */
ul>.lion {
   background-color: greenyellow;
}

/* id 선택자 */
#tiger {
   background-color: yellow;
}

/* 클래스 선택자 */
.lion {
   color: sienna;
}

/* 사파리 제외한 사자 */
/* zoo 클래스, 후손선택자 ->  */
.zoo .lion {
   font-weight: 900;
}

/* 인접 형제 선택자 */
#tiger+li {
   background-color: skyblue;
}

/* 일밚 형제 선택자 */
li.lion~li {
   background-color: orange;
}