/* 
E:first-child{} : E가 첫번째 요소일때 선택
E:last-child{} : E가 마지막 요소일때 선택
E:nth-child{} : E가 n번째 요소일때 선택
*/

.zoo>* {
   background-color: green;
   color: white;
}

/* 기린 선택 */
.zoo>li:last-child {
   background-color: black;
}

/* 헤드라인 선택 */
.zoo>*:first-child {
   background-color: red;
}

.zoo>:nth-child(2n) {
   background-color: pink;

}

.zoo>:not(div) {
   background-color: skyblue;
}


/* ================================ */
.stripes {
   background-color: navy;
   color: white;
}

/* yellow 적용 */
.stripes>div:nth-child(4n+2) {
   background-color: yellow;
   color: black;
}