body {
   background-color: beige;
}

table {
   width: 100%;
   height: 100%;
}

h1 {
   text-align: center;
   color: green;
}

.holiday {
   color: red;
}


tr>td:first-child {
   color: red
}

tr>td:last-child {
   color: blue;
}