* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  background-color: #ddd;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-Item {
  margin: 0 8px;
}
.MainPage {
  background-color: pink;
  min-height: 100vh;

  &.dark {
    background-color: rgb(80, 80, 80);
    color: white;
  }
}

.NotFound {
  background-color: rgb(127, 146, 255);
  min-height: 100vh;
}

.ProductDetailPage {
  background-color: rgb(255, 255, 120);
  min-height: 100vh;
}

.ProductPage {
  background-color: skyblue;
  min-height: 100vh;
}

.ProductItem {
  background-color: white;
  width: 80vw;
  margin: 30px auto 0 auto;
  list-style: none;
  padding: 8px;
  border-radius: 8px;

  &:hover {
    font-weight: 700;
    cursor: pointer;
    transform: translate(-5px, -5px);
  }
}
