// _utils.csss
// 변수, mixin 등을 정의해놓는 파일
// 파일명 앞에 _ 기호를 붙이는 이유?
// : 변수나 mixin만을 정의해놓을 파일이기 때문에
// 별도의 표준 css로 변환될 필요가 없음
// 성능/관리 측면에서의 이들을 취할 수 있음

// 특징 3 : 변수 선언 가능
$color-red: red;
$color-orange: orange;
$color-yellow: yellow;
$color-green: green;
$color-blue: blue;
$color-indigo: indigo;
$color-purple: purple;

// 특징 4: mixin 사용 가능 (= 함수)
// 믹스인을 정의할 때 : @mixin 사용
// 믹스인을 사용할 때 : @include 키워드 사용

// Duration
$animation-duration: 0.4s;

// BreakPoint
$breakpoint-tablet: 758px;
