.test {
   text-align: center;
}

.test h1 {
   background-color: rgb(255, 235, 216);
   color: rgb(208, 89, 9);
   font-weight: 400;
   text-align: center;
   width: 80%;
   margin: 0 auto;
}

.input {
   margin-top: 30px;
}


.rainbow {
   display: flex;
}

.red {
   background-color: red;
   width: 50px;
   height: 50px;
}

.orange {
   background-color: orange;
   width: 50px;
   height: 70px;
}

.yellow {
   background-color: yellow;
   width: 50px;
   height: 90px;
}

.green {
   background-color: green;
   width: 50px;
   height: 110px;
}

.blue {
   background-color: blue;
   width: 50px;
   height: 130px;
}

.navy {
   background-color: navy;
   width: 50px;
   height: 150px;
}

.purple {
   background-color: purple;
   width: 50px;
   height: 170px;
}